* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* helpers */
.list-style-flex {
  display: flex;
  list-style: none;
}
.list-style {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* / helpers */

.nav-dx li:hover , .nav-sx li:hover {
  background-color: lightseagreen;
}



header {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 100px;
  width: 60%;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav-dx .ul-b li {
  margin-left: 20px;
  position: relative;
}
.wrapper .nav-sx .ul-a li {
  margin-right: 20px;
}

.sub-1, .sub-2, .sub-3 {
  position: absolute;
  display: none;
  background-color: gray;
  border-radius: 8px;
  text-align: center;
}


.sub-1 li, .sub-2 li, .sub-3 li {
  padding-bottom: 20px;
  margin: 0;
}
